<app-header title="Roster">
  <ion-toolbar>
    <!-- <ion-title><ion-icon icon="school"></ion-icon> Class Roster</ion-title> -->
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home" text="home" icon="home">
      </ion-back-button> -->
      <ion-back-button
        slot="icon-only"
        defaultHref="home"
        icon="home"
        text=""
      ></ion-back-button>
      <ion-button (click)="sortStudents()">
        <ion-icon
          slot="icon-only"
          icon="git-compare"
          style="rotate: 90deg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</app-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let student of students">
      <ion-item>
        <ion-buttons slot="end">
          <ion-button (click)="presentActionSheet(student)">
            <ion-icon
              slot="icon-only"
              ios="ellipsis-horizontal"
              md="ellipsis-vertical"
            ></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon
              slot="icon-only"
              name="chevron-forward-outline"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <!-- ion-icon and ion-label are siblings here -->
        <ion-icon
          slot="start"
          *ngIf="student.gender==='male'"
          icon="man-outline"
          style="color: rgb(89, 244, 244)"
        ></ion-icon>

        <ion-icon
          slot="start"
          *ngIf="student.gender==='female'"
          icon="woman-outline"
          style="color: pink"
        ></ion-icon>

        <ion-label (click)="presentActionSheet(student)">
          {{student.firstName}} {{student.lastName}}
        </ion-label>
        <ion-icon
          *ngIf="student.status===true"
          slot="end"
          icon="checkmark-circle"
          color="success"
          (click)="setStudentStatus(student)"
        ></ion-icon>
        <ion-icon
          *ngIf="student.status===false"
          slot="end"
          icon="close-circle"
          color="danger"
          (click)="setStudentStatus(student)"
        ></ion-icon>
      </ion-item>
      <ion-item-options (ionSwipe)="deleteStudent(student)" side="end">
        <ion-item-option
          color="danger"
          expandable="false"
          (click)="deleteStudent(student)"
          >Delete</ion-item-option
        >
      </ion-item-options>
      <ion-item-options side="start" (ionSwipe)="setStudentStatus(student)">
        <ion-item-option color="success" expandable="true">
          <!-- <ion-icon icon="star" (click)="setStudentStatus(student)"></ion-icon> -->
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
