<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon icon="school"></ion-icon> Class Roster</ion-title>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" text="home" icon="airplane">
          </ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let student of students">
      <ion-item>
        <!-- ion-icon and ion-label are siblings here -->
        <ion-icon slot="start" icon="person"></ion-icon>
        <ion-label> {{student.firstName}} {{student.lastName}} </ion-label>
        <ion-icon
          *ngIf="student.status==='present'"
          slot="end"
          icon="eye"
        ></ion-icon>
        <ion-icon
          *ngIf="student.status==='absent'"
          slot="end"
          icon="eye-off"
        ></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="success" expandable="false"
          ><ion-icon icon="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
