<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 10 Dance Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/classroom.png" alt="classroom" />

    <ion-card-header>
      <ion-card-subtitle> Classroom Attendance Manager </ion-card-subtitle>
      <ion-card-title>@10Dance</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        @10Dance is an attendance application originally designed to help Sunday
        School teachers.
      </p>
    </ion-card-content>
    <!-- <a routerLink="/roster" routerDirection="root">Go To Roster</a> -->
    <ion-button [routerLink]="['/roster']" routerDirection="root">
      <ion-icon
        slot="icon-only"
        ios="ellipsis-horizontal"
        md="ellipsis-vertical"
      ></ion-icon>
      Go to roaster
    </ion-button>
  </ion-card>

  <!-- Emmet -->
  <!-- div -->
  <div></div>

  <!-- ion-menu -->
  <ion-menu></ion-menu>

  <!-- h1 -->
  <h1></h1>

  <!-- bq -->
  <blockquote></blockquote>

  <!-- im -->
  <img src="" alt="" />

  <!-- ngi -->
  *ngIf="expression"

  <!-- ngf -->
  *ngFor="let item of list"

  <!-- bt -->
  <button></button>

  <!-- #boo -->
  <div id="boo"></div>

  <!-- div#boo -->
  <div id="boo"></div>

  <!-- div.boo -->
  <div class="boo"></div>

  <!-- ion-menu.top -->
  <ion-menu class="top"></ion-menu>

  <!-- bq#bar -->
  <blockquote id="bar"></blockquote>

  <!-- span.hex -->
  <span class="hex"></span>

  <!-- span.bat.wiz -->
  <span class="bat wiz"></span>

  <!-- span#bat.wiz -->
  <span id="bat" class="wiz"></span>

  <!-- span#logo.large.center -->
  <span id="logo" class="large center"></span>

  <!-- a> -->
  <a href=""></a>

  <!-- link> -->
  <link rel="stylesheet" href="" />

  <!-- link -->
  [routerLink]="['/routePath']" routerLinkActive="router-link-active"

  <!-- scr -->
  <script></script>

  <!-- script[src] -->
  <script src=""></script>

  <!-- html[lang] -->
  <html lang=""></html>

  <!-- html[lang=en] -->
  <html lang="en"></html>

  <!-- input[type=text] -->
  <input type="text" />

  <!-- td[rowspan=2 colspan=3] -->
  <td rowspan="2" colspan="3"></td>

  <!-- input:button -->
  <input type="button" value="" />

  <!-- input:checkbox -->
  <input type="checkbox" name="" id="" />

  <!-- h1{Presto} -->
  <h1>Presto</h1>

  <!-- a{Open sesame} -->
  <a href="">Open sesame</a>

  <!-- h1+p> -->
  <h1></h1>
  <p></p>

  <!-- h1+h2+p> -->
  <h1></h1>
  <h2></h2>
  <p></p>

  <!-- div*3 -->
  <div></div>
  <div></div>
  <div></div>

  <!-- li*5 -->
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

  <!-- h1{Header}*5 -->
  <h1>Header</h1>
  <h1>Header</h1>
  <h1>Header</h1>
  <h1>Header</h1>
  <h1>Header</h1>

  <!-- h1{Header $}*5 -->
  <h1>Header 1</h1>
  <h1>Header 2</h1>
  <h1>Header 3</h1>
  <h1>Header 4</h1>
  <h1>Header 5</h1>

  <!-- li.item$*6 -->
  <li class="item1"></li>
  <li class="item2"></li>
  <li class="item3"></li>
  <li class="item4"></li>
  <li class="item5"></li>
  <li class="item6"></li>

  <!-- head>title -->
  <head>
    <title></title>
  </head>

  <!-- a>img -->
  <a href=""><img src="" alt="" /></a>

  <!-- section>p -->
  <section>
    <p></p>
  </section>

  <!-- section>p*3 -->
  <section>
    <p></p>
    <p></p>
    <p></p>
  </section>

  <!-- (section>p*3)*2 -->
  <section>
    <p></p>
    <p></p>
    <p></p>
  </section>
  <section>
    <p></p>
    <p></p>
    <p></p>
  </section>

  <!-- nav>ul>li -->
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>

  <!-- section>h1+p> -->
  <section>
    <h1></h1>
    <p></p>
  </section>

  <!-- p*2+p>span -->
  <p></p>
  <p></p>
  <p><span></span></p>

  <!-- section>h1+p>span -->
  <section>
    <h1></h1>
    <p><span></span></p>
  </section>

  <!-- section>p^section -->
  <section>
    <p></p>
  </section>
  <section></section>

  <!-- div>p^section -->
  <div>
    <p></p>
  </div>
  <section></section>

  <!-- div>section+p> -->
  <div>
    <section></section>
    <p></p>
  </div>

  <!-- section>p>span^p> -->
  <section>
    <p><span></span></p>
    <p></p>
  </section>

  <!-- section>p>a^^section -->
  <section>
    <p><a href=""></a></p>
  </section>
  <section></section>

  <!-- table>(thead>tr>th>span)+tbody -->
  <table>
    <thead>
      <tr>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <!-- section>(p>span^p>)^section -->
  <section>
    <p><span></span></p>
    <p></p>
  </section>
  <section></section>

  <!-- header>ul>(li*3+a)> -->
  <header>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <a href=""></a>
    </ul>
  </header>

  <div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p></p>
  </div>

  <!-- ul#pagination>li>a.pagelink{$}*5 -->
  <ul id="pagination">
    <li>
      <a href="" class="page-link">1</a><a href="" class="page-link">2</a
      ><a href="" class="page-link">3</a><a href="" class="page-link">4</a
      ><a href="" class="page-link">5</a>
    </li>
  </ul>

  <!-- div>dl>((dt+dd)*2)^^footer>p> -->
  <div>
    <dl>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
    </dl>
  </div>
  <footer>
    <p></p>
  </footer>

  <!-- Card examples -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags, within an
      ion-card-content element.
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>
