<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p> -->
    <!-- ion-avatar -->
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <!-- ion-toggle -->
    <ion-toggle></ion-toggle>
    <!-- ion-badge -->
    <ion-badge>99</ion-badge>
    <ion-badge color="primary">11</ion-badge>
    <ion-badge color="secondary">22</ion-badge>
    <ion-badge color="tertiary">33</ion-badge>
    <ion-badge color="success">44</ion-badge>
    <ion-badge color="warning">55</ion-badge>
    <ion-badge color="danger">66</ion-badge>
    <ion-badge color="light">77</ion-badge>
    <ion-badge color="medium">88</ion-badge>
    <ion-badge color="dark">99</ion-badge>
    <ion-item>
      <ion-badge slot="start">123</ion-badge>
      <ion-label>My Item</ion-label>
      <ion-badge slot="end">456</ion-badge>
    </ion-item>
    <!-- ion-breadcrumbs -->
    <ion-breadcrumbs>
      <ion-breadcrumb href="#"> Home </ion-breadcrumb>
      <ion-breadcrumb href="#electronics"> Electronics </ion-breadcrumb>
      <ion-breadcrumb href="#photography"> Photography </ion-breadcrumb>
      <ion-breadcrumb href="#cameras"> Cameras </ion-breadcrumb>
      <ion-breadcrumb href="#film"> Film </ion-breadcrumb>
      <ion-breadcrumb> 35 mm </ion-breadcrumb>
    </ion-breadcrumbs>
    <!-- ion-button -->
    <ion-button>Default</ion-button>
  </div>
</ion-content>
