<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p> -->
    <!-- ion-avatar -->
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <!-- ion-toggle -->
    <ion-toggle></ion-toggle>
    <!-- ion-badge -->
    <ion-badge>99</ion-badge>
    <ion-badge color="primary">11</ion-badge>
    <ion-badge color="secondary">22</ion-badge>
    <ion-badge color="tertiary">33</ion-badge>
    <ion-badge color="success">44</ion-badge>
    <ion-badge color="warning">55</ion-badge>
    <ion-badge color="danger">66</ion-badge>
    <ion-badge color="light">77</ion-badge>
    <ion-badge color="medium">88</ion-badge>
    <ion-badge color="dark">99</ion-badge>
    <ion-item>
      <ion-badge slot="start">123</ion-badge>
      <ion-label>My Item</ion-label>
      <ion-badge slot="end">456</ion-badge>
    </ion-item>
    <!-- ion-breadcrumbs -->
    <ion-breadcrumbs>
      <ion-breadcrumb href="#"> Home </ion-breadcrumb>
      <ion-breadcrumb href="#electronics"> Electronics </ion-breadcrumb>
      <ion-breadcrumb href="#photography"> Photography </ion-breadcrumb>
      <ion-breadcrumb href="#cameras"> Cameras </ion-breadcrumb>
      <ion-breadcrumb href="#film"> Film </ion-breadcrumb>
      <ion-breadcrumb> 35 mm </ion-breadcrumb>
    </ion-breadcrumbs>
    <!-- ion-button -->
    <!-- Default -->
    <ion-button>Default</ion-button>

    <!-- Anchor -->
    <ion-button href="#">Anchor</ion-button>

    <!-- Colors -->
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <!-- Expand -->
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="block">Block Button</ion-button>

    <!-- Round -->
    <ion-button shape="round">Round Button</ion-button>

    <!-- Fill -->
    <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    <ion-button shape="round" fill="outline">Outline + Round</ion-button>

    <!-- Icons -->
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <ion-button
      fill="outline"
      shape="round"
      size="large"
      disabled="false"
      expand="full"
      href="https://www.educative.io/"
      shape="round"
      strong="true"
      type="button"
    >
      <ion-icon slot="icon-only" name="play"></ion-icon>
      <ion-icon name="airplane"></ion-icon>
      <ion-icon name="baseball"></ion-icon>
      <ion-icon name="build"></ion-icon>
    </ion-button>

    <!-- Sizes -->
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small">Small</ion-button>

    <!-- Default Checkbox -->
    <ion-checkbox></ion-checkbox>

    <!-- Disabled Checkbox -->
    <ion-checkbox disabled="true"></ion-checkbox>

    <!-- Checked Checkbox -->
    <ion-checkbox checked="true"></ion-checkbox>

    <!-- Checkbox Colors -->
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-checkbox color="secondary"></ion-checkbox>
    <ion-checkbox color="danger"></ion-checkbox>
    <ion-checkbox color="light"></ion-checkbox>
    <ion-checkbox color="dark"></ion-checkbox>

    <!-- Checkboxes in a List -->
    <ion-list>
      <ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
